<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Google Tag To Cookie Consent</label>
    <label lang="en">Google Tag To Cookie Consent</label>
    <version>1.0.0</version>
    <copyright>(c) by Binu Abraham</copyright>
    <license>MIT</license>
    <author>Binu Abraham</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>